
@{
    ViewBag.Title = "ViewRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title>View FoodDonation</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-hover custom-table">
                    <thead class="thead-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>PreservetionTime</th>
                            <th>Status</th>
                            <th>EmployeeAssign</th>
                            <th>EmployeeContact</th>

                        </tr>
                        @foreach (var c in Model)
                        {
                            <tr>
                                <td>@c.FoodName</td>
                                <td>@c.Quantity</td>
                                <td>@c.PreservationTime</td>
                                <td>@c.Status</td>
                                @if (c.EmployeeID == null)
                                {
                                    <td></td>
                                    <td></td>
                                }
                                else
                                {
                                    <td>@c.Employee.Name</td>
                                    <td>@c.Employee.Phone</td>
                                }
                            </tr>
                        }

                </table>
            </div>
        </div>
    </div>
</body>
</html>
